body {background-color: #e3e0cf;}
#mainContainer {padding-top: 55px;}

#loginBox {
    margin-top: 200px;
    background-color: #c5d5cb;
    padding:10px;
    border: 1px solid #9fa8a3;
    border-radius: 10px;
}

#loginBox h2 {margin-bottom:20px;}