body {
    background-color: #e0e0e0;
}

table tbody tr:nth-child(even) {
    background-color: #dedede;
}

.table-curved {
    border-collapse: separate;
}

.table-curved {
    border-radius: 10px;
}


#mainContainer {padding-top: 55px;}

#content {
    margin-top: 20px;
}
#loginBox {
    margin-top: 200px;
    background-color: #c5d5cb;
    padding: 20px;
    border: 1px solid #9fa8a3;
    border-radius: 10px;
}

#loginBox h2 {margin-bottom:20px;}